<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>EDIT ACCOUNT INFO</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/planting a tree.svg">

        </div>
        
        <div class="new-project-container">
            <input type="file" class="custom-file-input">
            
            <form class="new project">
                
                <input name="username" type="text" placeholder="change username">
                <input name="email" type="email" placeholder="change email">
                <input name="password" type="password" placeholder="change password">
                <input name="password" type="password" placeholder="repeat changed password">
                <div id="demoFont"></div>
                <div class="select">
    <select>
        <option>Change your freelance branch</option>
        <option> Graphic design</option></option>
        <option>Programming/web developement</option>
        <option>Embroidery</option>
        <option>Painting</option>
        <option>Knitting</option>
        <option>Voiceover acting</option>
        <option>Sculpturing</option>
        <option>Writing</option>
        <option>Video content creation/streaming</option>
        <option>Translating</option>
        <option>Teaching/tutoring</option>
        <option>Other</option>
        
    </select>
    <div class="select_arrow">
    </div>

</div>


                <button>SAVE CHANGES</button>
        
            </form>
        </div>
    </div>
</body>