<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>ADD ENTRY MANUALLY</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/artist.svg">
        </div>
        <div class="new-project-container">
            <div class="login-container">
                <form class="login">
                    <div id="demoFont"></div>
                    <div class="select">
        <select>
            <option>Which project did you work on?</option>
            <option>Cat portrait for Lindsay Elise</option>
            <option>Tree in watercolor for Gary Green</option>
    
            
        </select>
        <div class="select_arrow">
        </div>
    
        
            <form class="new project">
                  </div>
        <div class="new-project-container">
            <label for="meeting-time"></label>When did you work on the project?<br/></label>
            <input type="datetime-local" id="meeting-time"
                   name="meeting-time" value="2021-06-12T19:30"
                   min="2020-06-07T00:00" max="2023-06-14T00:00">

               <input name="entry description" type="text" placeholder="provide short description of your entry">
              <button>SUBMIT</button>
            </form>
        </div>
    </div>
</body>