<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>DELETE PROJECT</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/planting a tree.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <div id="demoFont"></div>
                <div class="select">
    <select>
        <option>Which project do you want to delete?</option>
        <option>Cat portrait for Lindsay Elise</option>
        <option>Tree in watercolor for Gary Green</option>

        
    </select>
    <div class="select_arrow">
    </div>
    <div class="control-group">
        <div class="login-container">
            <form class="login">
                <div id="demoFont"></div>
                <div class="select">
    <select>
        <option>Change font size</option>
        <option>Default</option>
        <option>Small</option>
        <option>Big</option>

        
    </select>
    <div class="select_arrow">
    </div>
    <div class="control-group">

    </div>
    <label class="control control-checkbox">
        <input type="checkbox" />Also delete the project from past projects database

        <div class="control_indicator"></div>
    </label>
                <button>DELETE PROJECT</button>

            </form>
        </div>
    </div>
</body>