<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>NEW PROJECT</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/artist.svg">
        </div>
        <div class="new-project-container">
            <form class="new project">
                <input name="project name" type="text" placeholder="Cat portrait">
                <input name="project description" type="text" placeholder="Portrait of client's cat in watercolor">
                <input name="client name" type="text" placeholder="Lindsay Smith">
                <input name="client email" type="email" placeholder="lindsaysmith@gmail.com">
                <label for="deadline"></label>Change project deadline<br/></label>
                <input type="datetime-local" id="meeting-time"
                       name="meeting-time" value="2021-06-12T19:30"
                       min="2020-06-07T00:00" max="2023-06-14T00:00">
                <button>SUBMIT</button>
                
            </form>
        </div>
    </div>
</body>