<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>DELETE PROJECT</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/planting a tree.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="recovery code" type="number" placeholder="Please enter recovery code sent to your email">
                <button>RECOVER PASSWORD</button>

            </form>
        </div>
    </div>
</body>