<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>LOG IN</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/holding plant.svg">
        </div>
        <div class="login-container">
            <form class="login">
       
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <button>LOG IN</button>
                <P>
                    <A class=wsnextlink1 href="C:\Users\Julia\Desktop\adrianwii-pai2020-8b55997baf88\public\views\sign up.html">Not a user? Sign up!</A>
                    </P>
               
            </form>
        </div>
    </div>
</body>