<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>SIGN UP</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/planting a tree.svg">
        </div>
        <div class="new-project-container">
            <form class="new project">
                <input name="username" type="text" placeholder="username">
                <input name="email" type="email" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <input name="password" type="password" placeholder="repeat password">
                <div id="demoFont"></div>
                <div class="select">
    <select>
        <option>Choose your freelance branch</option>
        <option> Graphic design</option></option>
        <option>Programming/web developement</option>
        <option>Embroidery</option>
        <option>Painting</option>
        <option>Knitting</option>
        <option>Voiceover acting</option>
        <option>Sculpturing</option>
        <option>Writing</option>
        <option>Video content creation/streaming</option>
        <option>Translating</option>
        <option>Teaching/tutoring</option>
        <option>Other</option>
        
    </select>
    <div class="select_arrow">
    </div>

</div>
                <button>SIGN UP</button>
                <P>
                    <A class=wsnextlink1 href="C:\Users\Julia\Desktop\adrianwii-pai2020-8b55997baf88\public\views\login.html">Already a user? Log in!</A>
                    </P>
            </form>
        </div>
    </div>
</body>