<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>ADD ENTRY - START TIMER</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../img/holding plant.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <div id="demoFont"></div>
                <div class="select">
    <select>
        <option>Which project do you want to work on?</option>
        <option>Cat portrait for Lindsay Elise</option>
        <option>Tree in watercolor for Gary Green</option>

        
    </select>
    <div class="select_arrow">
    </div>

                <button>START TIMER</button>
            
            </form>
        </div>
    </div>
</body>